#map {
    height: 100%;
  }

  html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/mcdonald-s-4.svg');
  background-size: 4%;
}

.container{
  height: 100%;
  padding-top: 15px;
}