#map {
    height: 100%;
  }

  html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/burger-fries-hand-drawn-vector-illustration-simple-background-all-objects-editable-57138600.jpg');
  background-size: 4%;
}

.container{
  height: 100%;
  padding-top: 15px;
}